machine:
  nodeLabels:
    # node labels for proxmoxproxmox-csi-plugin
    topology.kubernetes.io/region: petruk-pve
    topology.kubernetes.io/zone: petruk-pve0
  # Enable kubelet certificate rotation for metrics-server
  kubelet:
    extraArgs:
      # offload to external cloud provider: proxmox ccm
      cloud-provider: external
      # Enable kubelet certificate rotation for metrics-server
      rotate-server-certificates: "true"
      # Set max pods per node
      max-pods: "110"
  seccompProfiles:
    - name: audit.json
      value:
        defaultAction: SCMP_ACT_LOG

cluster:
  network:
    # Define pod and service subnets
    podSubnets:
      - 10.32.0.0/16
    serviceSubnets:
      - 10.16.0.0/12
  proxy:
    # Disable kube-proxy to use Cillium Support Gateway API
    disabled: true
