instance:
  sync:
    interval: 1m
    kind: GitRepository
    url: ssh://git@github.com:kholisrag/labirin.git
    ref: refs/heads/main
    path: live/fluxcd/proxmox/talos/main-talos-k8s-cluster
    pullSecret: git-ssh-auth
  components:
    - source-controller
    - kustomize-controller
    - helm-controller
    - notification-controller
    - image-reflector-controller
    - image-automation-controller
    - source-watcher
  # storage:
  #   class: "proxmox-data"
  #   size: "10Gi"
  kustomize:
    patches:
      - target:
          kind: Deployment
          name: kustomize-controller
        # args/- mean adding to the end of args array
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --sops-age-secret=sops-age-keys
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --watch-configs-label-selector=owner!=helm
      - target:
          kind: Deployment
          name: helm-controller
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --watch-configs-label-selector=owner!=helm
