instance:
  components:
    - source-controller
    - kustomize-controller
    - helm-controller
    - notification-controller
    - image-reflector-controller
    - image-automation-controller
    - source-watcher
  kustomize:
    patches:
      - target:
          kind: Deployment
          name: kustomize-controller
        # args/- mean adding to the end of args array
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --sops-age-secret=sops-age-keys
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --watch-configs-label-selector=owner!=helm
      - target:
          kind: Deployment
          name: helm-controller
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --watch-configs-label-selector=owner!=helm
