machine:
  nodeLabels:
    # node labels for proxmoxproxmox-csi-plugin
    topology.kubernetes.io/region: petruk-pve
    topology.kubernetes.io/zone: petruk-pve0
  # Enable kubelet certificate rotation for metrics-server
  kubelet:
    extraArgs:
      rotate-server-certificates: "true"
cluster:
  network:
    # Define pod and service subnets
    podSubnets:
      - 10.32.0.0/16
    serviceSubnets:
      - 10.16.0.0/12
    # Disable default CNI to use Cillium
    cni:
      name: none
  proxy:
    # Disable kube-proxy to use Cillium Support Gateway API
    disabled: true
