apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "-4"
  name: kube-prometheus-stack-helm
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: eks-kloia-test
  source:
    chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 79.11.0
    helm:
      releaseName: kube-prometheus-stack
      valuesObject:
        namespaceOverride: monitoring
        crds:
          enabled: true
        defaultRules:
          rules:
            etcd: false
            kubeApiserverAvailability: false
            kubeApiserverBurnrate: false
            kubeApiserverHistogram: false
            kubeApiserverSlos: false
            kubeControllerManager: false
        kubeApiServer:
          enabled: false
        kubeControllerManager:
          enabled: false
        coreDns:
          enabled: false
        kubeEtcd:
          enabled: false
        kubeScheduler:
          enabled: false
        grafana:
          sidecar:
            dashboards:
              enabled: true
            datasources:
              enabled: true
  destination:
    name: in-cluster
    namespace: monitoring
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
