---
- name: Manage SSH Authorized Keys
  hosts: all
  become: true
  vars_files:
    - vars/main.yaml
    - vars/vault.yaml

  tasks:
    - name: Ensure .ssh directory exists
      ansible.builtin.file:
        path: "{{ ansible_env.HOME }}/.ssh"
        state: directory
        mode: "0700"
        owner: "root"
        group: "root"

    - name: Manage authorized keys
      ansible.posix.authorized_key:
        user: "root"
        key: "{{ item }}"
        state: present
      loop: "{{ pve_ssh_authorized_keys }}"
      when: pve_ssh_authorized_keys is defined
